<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Expense</title>
</head>
<body>
  <form action="{% url 'expenses:create_expense' %}" method="POST">
    {% csrf_token %}
    <p>
        <label for="{{ form.date.id_for_label }}">Date</label>
        {{ form.date }} {{ form.date.errors }}
    </p>
    <p>
        <label for="{{ form.amount.id_for_label }}">Amount</label>
        {{ form.amount }} {{ form.amount.errors }}
    </p>
    <p>
        <label for="{{ form.description.id_for_label }}">Description</label>
        {{ form.description }} {{ form.description.errors }}
    </p>
    <p>
        <label for="{{ form.category.id_for_label }}">Category</label>
        {{ form.category }} {{ form.category.errors }}
    </p>
    <button type="submit">Create new Expense </button>

  </form>
</body>
</html>
