<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<head><title>Your account information {{user.first.name }}</title></head>
  <body>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <a href="{% url 'users:home' %}">Return Home</a>
    <a href="{% url 'users:delete_user' user.pk%}" >Delete</a>

  </body>
</html>
