<!doctype html>
<html>
  <body>
    <h1>Welcome {{ user.username }}!</h1>

    {% if user.is_authenticated %}
      <p>You are logged in as <strong>{{ user.username }}</strong></p>
      <form method="post" action="{% url 'users:logout' %}">
        {% csrf_token %}
        <button type="submit">Log out</button>
      </form>
    {% else %}
      <p>You are not logged in. <a href="{% url 'login' %}">Login here</a></p>
    {% endif %}
    <a href="{% url 'users:user_detail' user.id %}">View Profile Details</a>
  </body>
</html>
