<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>All Users</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <h1>All Users</h1>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
<form method="get">
    {{ form.role }}
    {{ form.order_by }} 
    <button type="submit">Apply Filters</button>
</form>

    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
          <form method="post" action="{% url 'users:user_detail' user.pk %}">
            {% csrf_token %}
            <button type="submit">View Details</button>
        </form>
        </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No users yet.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a href="{% url 'expenses:list_expenses' %}">Home</a></p>
</body>
</html>
